.footer {
  position: fixed;
  bottom: 0;
  z-index: -1;
  width: 100%;
  height: 400px;
  background: #2c3038;
  color: #f5f5f5;
  padding: 90px 0 100px; }
  .footer .wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    max-width: 1230px;
    margin: 0 auto;
    padding-left: 30px;
    padding-right: 30px; }
    .footer .wrapper .footer-items .socials-container {
      display: flex; }
      .footer .wrapper .footer-items .socials-container .insta {
        background-image: url("../assets/images/insta.png");
        background-size: cover;
        width: 30px;
        height: 30px;
        border-radius: 100%; }
        .footer .wrapper .footer-items .socials-container .insta:hover {
          background-color: #eeeeee;
          box-shadow: 0 0.1875rem 0.5rem rgba(5, 5, 5, 0.08); }
      .footer .wrapper .footer-items .socials-container .facebook {
        background-image: url("../assets/images/facebook.png");
        background-size: cover;
        width: 30px;
        height: 30px;
        border-radius: 100%; }
        .footer .wrapper .footer-items .socials-container .facebook:hover {
          background-color: #eeeeee;
          box-shadow: 0 0.1875rem 0.5rem rgba(5, 5, 5, 0.08); }
      .footer .wrapper .footer-items .socials-container .twitter {
        background-image: url("../assets/images/twitter.png");
        background-size: cover;
        width: 30px;
        height: 30px;
        border-radius: 100%; }
        .footer .wrapper .footer-items .socials-container .twitter:hover {
          background-color: #eeeeee;
          box-shadow: 0 0.1875rem 0.5rem rgba(5, 5, 5, 0.08); }
      .footer .wrapper .footer-items .socials-container .youtube {
        background-image: url("../assets/images/youtube.png");
        background-size: cover;
        width: 30px;
        height: 30px;
        border-radius: 100%; }
        .footer .wrapper .footer-items .socials-container .youtube:hover {
          background-color: #eeeeee;
          box-shadow: 0 0.1875rem 0.5rem rgba(5, 5, 5, 0.08); }
      .footer .wrapper .footer-items .socials-container .github {
        background-image: url("../assets/images/github.png");
        background-size: cover;
        width: 30px;
        height: 30px;
        border-radius: 100%; }
        .footer .wrapper .footer-items .socials-container .github:hover {
          background-color: #eeeeee;
          box-shadow: 0 0.1875rem 0.5rem rgba(5, 5, 5, 0.08); }
      .footer .wrapper .footer-items .socials-container .vk {
        background-image: url("../assets/images/vk.png");
        background-size: cover;
        width: 30px;
        height: 30px;
        border-radius: 100%; }
        .footer .wrapper .footer-items .socials-container .vk:hover {
          background-color: #eeeeee;
          box-shadow: 0 0.1875rem 0.5rem rgba(5, 5, 5, 0.08); }
      .footer .wrapper .footer-items .socials-container .telegram {
        background-image: url("../assets/images/telegram.png");
        background-size: cover;
        width: 30px;
        height: 30px;
        border-radius: 100%; }
        .footer .wrapper .footer-items .socials-container .telegram:hover {
          background-color: #eeeeee;
          box-shadow: 0 0.1875rem 0.5rem rgba(5, 5, 5, 0.08); }
      .footer .wrapper .footer-items .socials-container a ~ a {
        margin-left: 10px; }
    .footer .wrapper .footer-items .navigation {
      width: 120px; }
    .footer .wrapper .footer-items .info {
      opacity: .6; }
    .footer .wrapper .footer-items .socials p {
      opacity: .6; }
    .footer .wrapper .footer-items .sub-title {
      opacity: .6;
      margin-top: 5px; }
    .footer .wrapper .footer-items ~ .footer-items {
      margin-left: 20px; }
  .footer ul {
    padding: 0; }
    .footer ul li ~ li {
      margin-top: 5px; }
    .footer ul .nav-link {
      text-decoration: none;
      color: white;
      opacity: .6; }
      .footer ul .nav-link:hover {
        opacity: 1; }
