@import '../../themes/variables.scss';

.footer {
  position: fixed;
  bottom: 0;
  z-index: -1;
  width: 100%;
  height: $footer-height;
  background: $footer-bg;
  color: #f5f5f5;
  padding: 90px 0 100px;
  .wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    max-width: 1230px;
    margin: 0 auto;
    padding-left: 30px;
    padding-right: 30px;
    .footer-items {
      .socials-container {
        display: flex;
        @include socials;
        a ~ a {
          margin-left: 10px;
        }
      }
      .navigation {
        width: 120px;
      }
      .info {
        opacity: .6;
      }
      .socials {
        p {
          opacity: .6;
        }
      }
      .sub-title {
        opacity: .6;
        margin-top: 5px;
      }
    }
    .footer-items ~ .footer-items {
      margin-left: 20px;
    }
    .footer-item {
      &.main {

      }
    }
  }
  ul {
    padding: 0;
    li ~ li {
      margin-top: 5px;
    }
    .nav-link {
      text-decoration: none;
      color: white;
      opacity: .6;
      &:hover {
        opacity: 1;
      }
    }
  }
}